<h1>Add a Recipe</h1>

<form action="/add_recipe" method="post">
  <p>Name of the Recipe</p>
  <input id= "name" name="name" type= "text">
  <p> Type your Instructions</p>
  <textarea rows= "10" cols= "50" id= "instructions" name= "instructions" type= "text"></textarea>
  <br>
  <p>Rate your Recipe from 1 to 5. 5 being the highest</p>
  <input id= "rating" name = "rating" type= "text">
  <br>
  <br>
  <p> Enter Type of Cuisine it is:
  <select id="category_id" name= "category_id">
    <% @categories.each do |category| %>
    <option value= '<%=category.id%>'><%= category.cuisine %> </option>
    <%end%>
  </select>
  <button class ="btn btn-danger" type= "submit">Submit</button>
</form>


<h1>Add A Cuisine</h1>

<p> Name the Type of Cuisine </p>
<form action="/add_cuisine" method="post">
  <input id= "name" name="name" type= "text">
  <button class ="btn btn-danger" type= "submit">Submit</button>
</form>
