<h1>Add a Recipe</h1>

<form action="/add_recipe" method="post">
  <p>Name of the Recipe</p>
  <input id= "name" name="name" type= "text">
  <p> Type your Instructions</p>
  <textarea rows= "10" cols= "50" id= "instructions" name= "instructions" type= "text"></textarea>
  <br>
  <p>Rate your Recipe from 1 to 5. 5 being the highest</p>
  <input id= "rating" name = "rating" type= "text">
  <br>
  <br>

  <button class ="btn btn-danger" type= "submit">Submit</button>
</form>
