<h1>Here are the recipes sorted by category </h1>


<ul>

  <% @categories.each do |category| %>
    <li><%= category.cuisine %> </li>
      <ul>  <%category.recipes.each do |recipe|%>
              <li><a href="/recipe/<%=recipe.id%>"><%= recipe.name %> </a>Rating: <%=recipe.rating%></li>
           <%end%>
    </ul>
   <%end%>
</ul>
