<h1>RECIPE BOX!!</h1>

<% if @top_recipes.length != 0 %>
  <h3>Here are your 5 star rated recipes: </h3>

    <ul>

    <% @top_recipes.each do |r|%>
      <li><a href="/recipe/<%= r.id %>"> <%= r.name %></a> </li>

      <%end%>
    </ul>
<%else%>
  <h1>You have no 5 star recipes!!
    <p>
      <a href="/add_recipe"> Add a new one</a> </h1>
    </p>
<%end%>
