<DOCTYPE html>
  <html>

  <head>
    <link rel='stylesheet' href='css/styles.css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <title>Recipe Box</title>
  </head>

    <body>
      <div class="container fill">
        <%= yield %>
      </div>
    </body>
    <footer class="container footer" align="center">



      <p>
        <a class="btn btn-info" href="/add_recipe">Add a new Recipe</a>

        <a class="btn btn-info" href="/categories">View recipe by category</a>

        <a class="btn btn-info" href="/ingredients">View recipe by ingredient</a>

        <a class="btn btn-info" href="/">Return to homepage</a>
      </p>
    </footer>

  </html>
